<!-- app/views/sample/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Poke Central</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Poke Central</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<figure class="text-center">
  <h1>Welcome to Poke Central!</h1>
  <p>This is a sample view rendered using Ruby on Rails!</p>
</figure>

<div class="container">
  <div class="row align-items-start">
   <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
    <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
  <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
    <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
  <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
    <div class="col">
      <span>
        <%= image_tag("https://i.pinimg.com/736x/dc/04/38/dc0438171941b457ea11ef87d643f8d8.jpg", alt: "Image description", class: "img-fluid") %>
        <p class="card-text">Example Title</p>
      </span>
    </div>
  </div>
</div>

<footer>
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</footer>

</body>
</html>
