<div class="container">
  <details>
    <summary>Shopping Cart</summary>
    <% if cart.empty? %>
      <p>Your cart is empty</p>
    <% else %>
      <ul class="list-unstyled">
          <% cart.each do |product| %>
            <li>
              <%= form_tag(add_remove_quantity_path, method: 'post') do %>
                <%= link_to product["product"].name, product_path(product["product"]) %>
                <p>qty:</p><%= number_field_tag(:quantity, product["qty"])%>
                <%= submit_tag("Change Quantity") %>
                <%= hidden_field_tag(:product_id, product["product"].id)%>
              <% end %>
              <%= button_to 'Remove from cart', remove_from_cart_path(product["product"].id), method: :delete %>
            </li>
          <% end %>
        <% if customer_signed_in? %>
          <li><%= button_to 'Buy now', checkout_create_path, method: :post %></li>
        <% else %>
          <li>
            <%= link_to "Sign in to buy now", new_customer_session_path%>
          </li>
        <% end %>
      </ul>
    <% end %>
  </details>
</div>