<!-- app/views/sample/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Poke Central</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Poke Central</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<figure class="text-center">
  <h1>Welcome to Poke Central!</h1>
  <p>This is a sample view rendered using Ruby on Rails!</p>
</figure>
<div class="container">
  <div class="row align-items-center">
    <% @products.each do |product|%>
      <div class="col-md-4">
        <div class="container text-center">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <div class="card-image">
                <figure class="image">
                  <%= image_tag product.image.variant(resize_to_limit:[250,250]) %>
                </figure>
              </div>
            <%end %>
            <h4><%= product.name %></h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if @products.prev_page %>
        <li class="page-item">
          <%= link_to "Previous", request.params.merge(page: @products.prev_page), class: "page-link" %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      <% end %>
      <% @products.total_pages.times do |i| %>
        <% if @products.current_page == i + 1 %>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#"><%= i + 1 %></a>
          </li>
        <% else %>
          <li class="page-item">
            <%= link_to i + 1, request.params.merge(page: i + 1), class: "page-link" %>
          </li>
        <% end %>
      <% end %>
      <% if @products.next_page %>
        <li class="page-item">
          <%= link_to "Next", request.params.merge(page: @products.next_page), class: "page-link" %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
      <% end %>
      <li class="page-item">
        <%= link_to "Last", request.params.merge(page: @products.total_pages), class: "page-link" %>
      </li>
    </ul>
  </nav>
</footer>

</body>
</html>
