<% if params[:category] %>
  <h1 class="text-center mb-5 mt-2">
    Products found when searching <%= params[:q] != "" ? "for: #{params[:q]}" : "" %> under <%= params[:category] == "" ? "All" : @category.name %>
  </h1>
<% else %>
  <h1 class="text-center mb-5 mt-2">
    <%= params[:filter].capitalize %> Products
  </h1>
<% end %>
<div class="row">
  <% if @products.empty? %>
    <strong class="text-center">No results found.</strong>
  <% else %>
    <div class="container">
      <div class="row align-items-center">
        <%= render partial: 'product/product',
              collection: @products,
              locals: { show_link: true } %>
      </div>
    </div>
  <% end %>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if @products.prev_page %>
      <li class="page-item">
        <%= link_to "Previous", request.params.merge(page: @products.prev_page), class: "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    <% end %>
    <% @products.total_pages.times do |i| %>
      <% if @products.current_page == i + 1 %>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#"><%= i + 1 %></a>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to i + 1, request.params.merge(page: i + 1), class: "page-link" %>
        </li>
      <% end %>
    <% end %>
    <% if @products.next_page %>
      <li class="page-item">
        <%= link_to "Next", request.params.merge(page: @products.next_page), class: "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    <% end %>
    <li class="page-item">
      <%= link_to "Last", request.params.merge(page: @products.total_pages), class: "page-link" %>
    </li>
  </ul>
</nav>