<%= render partial: 'product/cart',
      object: @cart,
      locals: { show_link: true } %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <% if @product.image.present? %>
          <div class="card-image">
            <figure class="image">
              <%= image_tag @product.image.variant(resize_to_limit:[250,250]), class: "card-img-top" %>
            </figure>
          </div>
        <%end %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text">$<%= @product.price %> - Stock: <%= @product.stock %></p>
          <p class="card-text"><%= @product.description %></p>
          <% if @cart.include?(@product) %>
            <p><%= button_to 'Remove from cart', remove_from_cart_path(@product.id), method: :delete, params: { id: @product.id } %>
          <% else%>
            <p><%= button_to 'Add to cart', add_to_cart_path(@product.id), method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>