<!DOCTYPE html>
<html>
  <head>
    <title>PokeCentral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Poke Central</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                <li>
                  <a class="dropdown-item" href="/">All</a>
                </li>
                <% @categories.each do |category|%>
                  <li>
                    <%= link_to category.name, category_path(category), class: "dropdown-item"%>
                  </li>
                <% end %>
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to "New", search_product_index_path(filter: "new"), class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Updated", search_product_index_path(filter: "updated"), class: "nav-link active" %>
            </li>
            <% @pages.each do |page|%>
              <li class="nav-item">
                <%= link_to page.title, custom_contact_about_page_path(page.title), class: "nav-link active"%>
              </li>
            <% end %>
            <li class="nav-item">
            <% if customer_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown-2">
                  <li>
                    <%= link_to "Edit Account", edit_customer_registration_path, class:"dropdown-item"%>
                  </li>
                  <li>
                    <%= button_to "Sign out", destroy_customer_session_path, method: :delete, class: "dropdown-item link-button"%>
                  </li>
                </ul>
              </li>
            <% else %>
              <%= link_to "Sign in", new_customer_session_path, class:"nav-link active"%>
            <% end %>
          </ul>
              <%= form_with(url: search_product_index_path, method: :get, local: true) do %>
              <%= text_field_tag(:q, nil, class: "input", placeholder: 'Search for Products') %>
              <%= select_tag(:category, options_for_select([["All", nil]] +@categories.map { |category| [category.name, category.id] }))%>
              <%= submit_tag("Search", class: "button is-primary") %>
              <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
